.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 100%;
  background-color: #1db954;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
}
