.navbar {
  display: grid;
  background-color: #4056a1;
  height: 120px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-logo {
  font-family: "Bungee", cursive;
  font-size: 1.65em;
  grid-row: 2;
  justify-self: center;
}

.nav-tweet {
  grid-row: 2;
  grid-column: 3;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 1.1em;
}

.nav-arrow {
  grid-row: 3;
  grid-column: 3;
  justify-self: center;
  color: red;
}
